<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>下载</title>
</head>
<body>
    <p>下载前请仔细确认最后更新时间！！！</p>
    <a href="/quxin_order_youji">工单及油机匹配率统计(每天09:00更新,最近更新时间：{{quxin_order_youji}})</a>
    <p></p>
    <a href="/quxin_yidong_offline">移动无运营商推送退服类告警统计(每天09:00更新,最近更新时间：{{quxin_yidong_offline}})</a>
    <p></p>
    <a href="/Interface_order">运营商接口工单(周一09:00更新,最近更新时间：{{Interface_order}})</a>
    <p></p>
    <a href="/environment_order">委托备案数据与环保厅备案数据匹配情况统计表(周三08:00更新，最近更新时间：{{environment_order}})</a>
    <p></p>
    <a href="/online_rate_order">智联设备平均在线率统计表(每天08:00更新,最近更新时间：{{online_rate_order}})</a>
    <p></p>
    <a href="/Custom_Workorder">智联工单处理情况(周三14:00更新,最近更新时间：{{Custom_Workorder}})</a>
    <p></p>
    <a href="/battery_order">开关电源电压设置修改情况通报(周一06:00更新,最近更新时间：{{battery_order}})</a>
    <p></p>
    <a href="/Signal_strength">物联卡信号强度(星期一09:30更新,最近更新时间：{{Signal_strength}})</a>
    <p></p>
    <a href="/Device_management">智联设备信息(星期三14:00更新,最近更新时间：{{Device_management}})</a>
    <p></p>
</body>
</html>
